.header {
  text-align: center;
   width: 100%;
   padding: 20px;
   background-image: url("https://images.pexels.com/photos/1631677/pexels-photo-1631677.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
 
   .header-content{
    width: 50%;
    margin: 0 auto;
   }
   h1{
     font-size: 45px;
   }

   @media screen and(max-width:575px) {
       .header-content{
        width: 80%;
       }
   }

   @media screen and(max-width:414px) {
    .header-content{
     width: 70%;
    }
}
@media screen and(max-width:390px) {
  .header-content{
   width: 70%;
  }
}
  
}