// import the global styles variables
@import './variables.scss';

.product-list{
    display: flex;
    margin: 0 auto;
    width: 80%;

    .product-right-details{
        display: flex;
        width: 50%;
        justify-content: space-between;
        text-align: left;

        .product-title{
            margin: auto 0;
            padding: $padding;
            font-size: 22px;
            text-decoration: none;
            color: $dark;
        }
        .active:active{
            background-color: $secondary;
            color: $light;
            transform: rotate(180deg);
        }
       .active{
            background-color: $secondary;
            color: $light;
            margin-right: 5%;
        }
    
        i{
            font-size: 35px;
            margin: auto 0;
            padding: 10px 15px;
            color: $secondary;
            background-color: $light;
            border-radius: $borderRadius;
            border: 5px solid $secondary;

        }
        
    }
    img{
        width: 200px;
        background-color: $primary;
        margin: $spacing-md;
    }

    .product-left-details{
        width: 40%;
        background-color: $bg;
        margin: $spacing-md;
        padding: $padding;
        
    
        .product-price{
           font-size: 25px;
        }

        .addCartBtn{
            font-size: 22px;
            background-color: $secondary;
            color: $light;
            width: 100%;
            margin: 5% auto;
            padding: 8px 24px;
            border-radius: $borderRadius1;
        }
        
    }
}

//styling the screen resolutions
@media screen and (max-width:1024px) {
    .product-list{
        margin: 0 auto;
        width: 100%;
        display: block;
    
        .product-right-details{
            width: 100%;
            text-align:center;
            display: flex;
    
            .product-title{
                margin: 5% auto ;
                font-size: 20px;
                text-decoration: none;
                color: $dark;
            }
            .active:active{
                background-color: $secondary;
                color: $light;
                transform: rotate(180deg);
            }
           .active{
                background-color: $secondary;
                color: $light;
                transform: rotate(90deg);
            }
            
        }
        img{
          width: 200px;
          height: 200px;
           background-color: $primary;

        }
    
        .product-left-details{
            width: 90%;
            background-color: $bg;
            padding: $padding;
            text-align: center;
            margin: 5% auto 5%;
        
            .product-price{
               font-size: 22px;
            }
    
            .addCartBtn{
                font-size: 22px;
                background-color: $secondary;
                color: $light;
                padding: 8px 12px;
                border-radius: 12px;
            }
        }
    }
    

}


//styling the screen resolutions
@media screen and (max-width:768px) {
    .product-list{
        display: block;
        margin: 0 auto;
        width: 100%;
    
        .product-right-details{
            display: block;
            width: 100%;
            text-align:center;
    
            .product-title{
                margin: 0 auto ;
                width: 100%;
                font-size: 20px;
                text-decoration: none;
                color: $dark;
            }
            .active:active{
                background-color: $secondary;
                color: $light;
                transform: rotate(180deg);
            }
           .active{
                background-color: $secondary;
                color: $light;
                transform: rotate(90deg);
            }
            
        }
        img{
          width: 400px;
          height: 400px;
           background-color: $primary;

        }
    
        .product-left-details{
            width: 90%;
            background-color: $bg;
            padding: $padding;
            text-align: center;
            margin: -5% auto 5%;
        
            .product-price{
               font-size: 22px;
            }
    
            .addCartBtn{
                font-size: 22px;
                background-color: $secondary;
                color: $light;
                padding: 8px 12px;
                border-radius: 12px;
            }
        }
    }
}
 
  
  
//styling the screen resolutions
@media screen and (max-width:575px) {
    .product-list{
        display: block;
        margin: 0 auto;
        width: 100%;
    
        .product-right-details{
            display: block;
            width: 100%;
            text-align:center;
    
            .product-title{
                margin: 0 auto ;
                width: 100%;
                font-size: 20px;
                text-decoration: none;
                color: $dark;
            }
            .active:active{
                background-color: $secondary;
                color: $light;
                transform: rotate(180deg);
            }
           .active{
                background-color: $secondary;
                color: $light;
                transform: rotate(90deg);
            }
            
        }
        img{
          width: 400px;
          height: 400px;
           background-color: $primary;

        }
    
        .product-left-details{
            width: 90%;
            background-color: $bg;
            padding: $padding;
            text-align: center;
            margin: -5% auto 5%;
        
            .product-price{
               font-size: 22px;
            }
    
            .addCartBtn{
                font-size: 22px;
                background-color: $secondary;
                color: $light;
                padding: 8px 12px;
                border-radius: 12px;
            }
        }
    }
    

}

@media screen and (max-width:414px) {
    .product-list{
        display: block;
        margin: 0 auto;
        width: 100%;
    
        .product-right-details{
            display: block;
            width: 100%;
           
            .product-title{
                margin: 0 auto ;
                width: 100%;
                font-size: 20px;
                text-decoration: none;
                color: $dark;
            }
            .active:active{
                background-color: $secondary;
                color: $light;
                transform: rotate(180deg);
            }
           .active{
                background-color: $secondary;
                color: $light;
                transform: rotate(90deg);
            }
            
        }
        img{
          width: 380px;
          height: 380px;
           background-color: $primary;

        }
    
        .product-left-details{
            width: 100%;
            background-color: $bg;
            padding: $padding;
            margin: -5% auto 5%;
            

            .product-price{
               font-size: 22px;
            }
    
            .addCartBtn{
                font-size: 22px;
                background-color: $secondary;
                color: $light;
                padding: 8px 12px;
                border-radius: 12px;
            }
            
        }
    }
    
}

@media screen and (max-width:390px) {
    .product-list{
        display: block;
        margin: 0 auto;
        width: 100%;
    
        .product-right-details{
            display: block;
            width: 90%;
            
    
            .product-title{
                margin: 0 auto ;
                font-size: 18px;
                text-decoration: none;
                color: $dark;
            }
            .active:active{
                background-color: $secondary;
                color: $light;
                transform: rotate(180deg);
            }
           .active{
                background-color: $secondary;
                color: $light;
                transform: rotate(90deg);
            }
            
        }
        img{
          width: 320px;
          height: 320px;
          background-color: $primary;

        }
    
        .product-left-details{
            width: 90%;
            background-color: $bg;
            padding: $padding;
            margin: -5% auto 5% auto;
        
            .product-price{
               font-size: 22px;
            }
    
            .addCartBtn{
                font-size: 22px;
                background-color: $secondary;
                color: $light;
                padding: 8px 12px;
                border-radius: $borderRadius1;
            }
        }
    }
    

}

@media screen and (max-width:375px) {
    .product-list{
        display: block;
        margin: 0 auto;
        width: 100%;
    
        .product-right-details{
            display: block;
            width: 90%;
            
    
            .product-title{
                margin: 0 auto ;
                font-size: 18px;
                text-decoration: none;
                color: $dark;
            }
            .active:active{
                background-color: $secondary;
                color: $light;
                transform: rotate(180deg);
            }
           .active{
                background-color: $secondary;
                color: $light;
                transform: rotate(90deg);
            }
            
        }
        img{
          width: 300px;
          height: 300px;
          background-color: $primary;

        }
    
        .product-left-details{
            width: 90%;
            background-color: $bg;
            padding: $padding;
            margin: -5% auto 5%;
        
            .product-price{
               font-size: 22px;
            }
    
            .addCartBtn{
                font-size: 22px;
                background-color: $secondary;
                color: $light;
                padding: 8px 12px;
                border-radius: $borderRadius1;
            }
        }
    }
    

}

