//import the global variables
@import "./variables.scss";
//style the product component by class elements
.extra-detail{
    display: flex;
    width: 60%;
    margin: 5%  auto;
    padding:$padding;
    justify-content: space-between;

    .single-product{
        margin: 5%;
    }
    .single-pro-left{
        padding: $padding;
    }
    .addCartBtn{
        font-size: 22px;
        padding: 8px 24px;
        border-radius: 12px;
        background-color: $secondary;
        color: $light;
    }
    .text-category{
        font-size: 25px;
        color: $tertiary;
    }
}

.backBtn{
    font-size: 20px;
    margin: 10% 5%; 
    border: 1px solid $light;
    padding: 12px 24px;
    background-color: $light;
}

@media screen and(max-width:1024px) {
    .extra-detail{
        
        width: 100%;
        justify-content: center;
    }
    .single-product{
        margin: 5%;
    }
    .single-pro-left{
        padding: $padding;
    }
}


@media screen and(max-width:768px) {
    .extra-detail{
        display: block;
        width: 100%;
        justify-content: center;
    }
    .single-product{
        margin: 5%;

    }
    .single-pro-left{
        padding: $padding;
    }
}


@media screen and(max-width:575px) {
    .extra-detail{
        display: block;
        width: 100%;
        justify-content: center;
    }
    .single-product{
        margin: 5%;
    }
    .single-pro-left{
        padding: $padding;
    }
}

@media screen and(max-width:414px) {
    .extra-detail{
        display: block;
        width: 100%;
        justify-content: center;
    }
    .single-product{
        margin: 5%;
    }
    .single-pro-left{
        padding: $padding;
    }
}
@media screen and(max-width:390px) {
    .extra-detail{
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 15px;
    }
    .single-product{
        margin: 5% auto;
        width: 90%;
        img{
            width: 100%;
        }
    }
    .single-pro-left{
        padding: $padding;
        width: 90%;
    }
}

@media screen and(max-width:375px) {
    .extra-detail{
        display: block;
        width: 100%;
        justify-content: center;
    }
    .single-product{
        margin: 5% auto;
        img{
            width: 300px;
        }
    }
    .single-pro-left{
        padding: $padding;
    }
}