@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

$Poppins: 'Poppins', sans-serif;

$dark: #000;
$light: #fff;
$primary: rgb(181, 170, 170);
$bg: rgb(234, 224, 224);

$spacing-md: 16px;
$spacing-lg: 32px;


