@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

$Poppins: 'Poppins', sans-serif;

$dark: #000;
$light: #fff;
$primary: rgb(215, 220, 223);
$bg: #fff;
$tertiary: rgb(118, 118, 123);
$secondary: rgb(28, 157, 176);

$spacing-md: 16px;
$spacing-lg: 32px;

$borderRadius: 100%;


